header {    
    text-align: center;
    background-image: linear-gradient(to right, rgb(255, 255, 255), aqua, navy);
    padding: 20px;
}

body {
    margin: 50px 50px 50px 50px;
}

aside { 
    border-color: red solid 1px;
}

.container {
    width: 100%;
    margin: 20 20 20 20;
    padding: 10px;
}

.city { 
    text-align: center;
}

.forecast{
    margin: 0 auto;
}